body{
    background-color: gray !important; 
    margin: 0;
}
.container{
    text-align: center;
    margin-top:30px;
    
 
}
h1{
    font-family: 'Lobster' ;
    font-size: 4rem;
    margin: 30px;
    color: #4ECCA3;
    text-shadow: 5px 0 #232931;
}
.one{
    display: inline-block;
    margin-left: 350px;
    text-align: center;
    margin-top: 80px;
    
   
    
}
p{
    font-family: 'Indie Flower' ;
    font-size: 2rem;
    color: #4ECCA3;
}
img{
    width: 80%;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 50px;
}




