body{
    background-color:white
}
.main{
    
    height: 540px;
    width: 370px;
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 330px;
    background-color:whitesmoke;
    border-radius: 25px;
}
.scs{
    width: 75%;
    position: absolute;
    padding-top: 20px;
    padding-left: 48px;
    border-radius: 30px;
    
}
.heading{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    padding-top: 330px;
    font-size: 22px;
    width: 80%;
    margin: auto;
}
.para{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    width: 55%;
    margin: auto;
    padding-top: 20px;
    
}

.sub{
    display: inline-block;
    position: absolute;
    background-color:#B4E4FF;
    height: 650px;
    width: 1100px;
    left: 250px;
    top: 80px;
}
.attribution{
    color: hsl(228, 45%, 44%);
    position: absolute;
    top: 658px;
    left: 360px;
    padding-top: 20px;
    
    
}
a:hover{
    color:black;
}